/* Footer */
footer a {
    color: inherit;
    text-decoration: none;
}

/* Category */
.active {
    background-color: #f3f3f3;
}

.category p a {
    width: 100%;
    display: block;
}

/* Category in course */
.category-title {
    margin: 10px 0;
}

.category-name {
    display: inline;
}
.category-control {
    display: inline;
}

/* Course */
.course {
    margin: 10px 0;
}

.course-title {
    display: inline;
}
