{% extends 'course_form.html' %}

{% block form_title %}
Edit Course
{% endblock %}

{% block action_url %}
{{ url_for('edit_course', category_id=category.id, course_id=course.id) }}
{% endblock %}

{% block course_name %}
{{ course.name }}
{% endblock %}

{% block course_level %}
{{ course.level }}
{% endblock %}

{% block course_url %}
{{ course.url }}
{% endblock %}

{% block course_image_url %}
{{ course.image_url }}
{% endblock %}

{% block course_description %}
{{ course.description }}
{% endblock %}

{% block course_provider %}
{{ course.provider }}
{% endblock %}

{% block form_submit %}
Update
{% endblock %}
