{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">

      <h1>{% block form_title %}{% endblock %}</h1>

      <form action="{% block action_url %}{% endblock %}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control"
                 value="{% block category_name %}{% endblock %}">
        </div>

        <button type="submit" class="btn btn-primary">
          {% block form_submit %}{% endblock %}
        </button>
        <a href={{ url_for('all_courses') }}>
          Cancel
        </a>
      </form>
      <!-- /form -->

      <!-- /.col-md-12 -->
    </div>

    <div class="col-sm-2"></div>

    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
{% endblock %}
