{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">

      <h1>Delete Course</h1>

      <p>Do you really want to delete {{ course.name }} Course?</p>
      <form method="post" action="{{ url_for('delete_course',
                                              category_id=course.category.id,
                                              course_id=course.id) }}">
        <button type="submit" class="btn btn-primary">
          Delete
        </button>
        <a href={{ url_for('all_courses') }}>
          Cancel
        </a>
      </form>
      <!-- /form -->

      <!-- /.col-md-12 -->
    </div>

    <div class="col-sm-2"></div>

    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
{% endblock %}
